@font-face {
    font-family: 'boogalooregular';
    src: url('boogaloo-regular-webfont.woff2') format('woff2'),
         url('boogaloo-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
:root {
  --system-ui: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --logo-background: rgba(28, 27, 27, 0.6);
  --logo-font: 'boogalooregular';
  --r-side-bg-color:rgb(204, 198, 198, 0.6);
  --box-shadow-color: rgb(164, 164, 164);
  --button-margin: 50px 0px 0px 50px;
  --button-padding: 5px 20px;
  --input-border-color:#E5E7EB;
  --button-bg-color:#596D48;
}

body {
  font-family: var(--system-ui);
}
/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
  position: relative;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
}
body{
  background:url(../images/halie-west-25xggax4bSA-unsplash.jpg) no-repeat;
  background-size: 40% max(100%, 100vh);
  height: 100vh;
}
.logo-placer{
  position: absolute;
  width: 40%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--logo-background);
  top: 200px;
  font-size: 40px;
  padding: 10px 0px;
}
.logo-placer img{
  height: 120px;
  width: auto;
}
.logo-placer h1{
  font-family: var(--logo-font,--system-ui);
  letter-spacing: .01rem;
}
header,form{
  width: 60%;
  margin-left: auto;
}
header{
  padding: 100px 100px 40px 40px;
  background-color: var(--r-side-bg-color);
}
header p + p{
  margin-top: 50px;
}
header p{
  font-size: 1.3rem;
  font-weight: 700;
  width: clamp(45ch, 50%, 75ch);
}
fieldset{
  display: flex;
  flex-wrap: wrap;
  appearance: none;
  border: 0;
  box-shadow: 0px 10px 10px var(--box-shadow-color);
  padding: 60px 100px 20px 50px;
  position: relative;
}
legend{
  position: absolute;
  top: 5px;
  font-weight: 700;
  font-size: 1.5rem;
}
label{
  text-transform: uppercase;
  display: block;
  font-size: .8rem;
  font-weight: 600;
  margin: 0px 5px;
}
.input-div{
  width: 50%;
}
.input-div > input{
  margin: 2px 5px;
  border-radius: 5px;
  border: 1px solid var(--input-border-color);
}
input:focus{
  box-shadow: 0px 0px 5px var(--box-shadow-color);
}
input#first-name,
input#last-name{
  text-transform: capitalize;
}
input:invalid,
input:focus:invalid{
  border-color: red;
  outline: 0;
}
button,
form > button + p{
  margin: var(--button-margin);
}
button{
  padding: var(--button-padding);
  background-color: var(--button-bg-color);
  color: rgb(255, 255, 255);
  border: 0;
  border-radius: 7px;
}
form > button + p > a:link,
form > button + p > a:visited{
  color: var(--button-bg-color);
  text-decoration: none;
  font-weight: 700;
}
footer{
  color: white;
  margin-left: 12%;
  position: absolute;
  bottom: 1.6rem;
}